@font-face {
  font-family: Roboto;
  src: local("Roboto"), local("Roboto-Regular"),
    url(./../assets/fonts/roboto/Roboto.woff2) format("woff2"),
    url(./../assets/fonts/roboto/Roboto.woff) format("woff"),
    url(./../assets/fonts/roboto/Roboto.ttf) format("truetype");
  font-weight: 400;
  font-style: normal
}

@font-face {
  font-family: Roboto;
  src: local("Roboto Bold"), local("Roboto-Bold"),
    url(./../assets/fonts/roboto/Robotobold.woff2) format("woff2"),
    url(./../assets/fonts/roboto/Robotobold.woff) format("woff"),
    url(./../assets/fonts/roboto/Robotobold.ttf) format("truetype");
  font-weight: 700;
  font-style: normal
}

:root {
  --dark: #333333;
  --gray: #A9A9A9;
  --blue: #56CCF2;
  --blue-dark: #157698;
  --white: #fff;
}

body {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-size: .875rem;
  line-height: 1.7;
  color: var(--dark);
  background-color: var(--white)
}